@mixin cassette-shadow-small {
  box-shadow: 0 0 9px 0 rgba(192, 192, 192, 0.7);
  transition: box-shadow 400ms ease;

  &:hover {
    box-shadow: 0 0 16px 0 rgba(0, 134, 204, 0.5);

    &:active {
      box-shadow: 0 0 2px 0 rgba(0, 134, 204, 0.5);
    }
  }
}
