<!DOCTYPE html>
<html {{ HTML_ATTRS }}>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <% if (process.env.ALIS_APP_ID === 'alis') { %>
      <script src="https://www.googleoptimize.com/optimize.js?id=OPT-5FJ3HPK"></script>
    <% } else { %>
      <script src="https://www.googleoptimize.com/optimize.js?id=OPT-P9KC4QC"></script>
    <% } %>
    {{ HEAD }}
</head>

<body {{ BODY_ATTRS }}>
    <% if (process.env.NODE_ENV === 'production') { %>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-5DZNDNB" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    <% } %>
    {{ APP }}
</body>

</html>
