.area-content,
.medium-editor-element {
  * {
    &::selection {
      background: #99a2ff;
    }
  }

  p {
    color: #040404;
    font-size: 15.9px;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;
  }
}

.medium-editor-insert-plugin .medium-insert-buttons button {
  box-shadow: 0 0 10px 0 rgba(146, 146, 146, 0.5);
  border: none;
}
