.toast {
  position: fixed;
  width: 80vw;
  z-index: 9997;
}

.toast-position-n {
  top: 100px;
  left: 10vw;
}

.toast-type-info{
  background-color: #858DDA;
}

.toast-message {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 100%;
  color: #fff;
  transition: 400ms cubic-bezier(0.17, 0.67, 0.17, 0.98);
  transition-property: opacity, transform;
}

.toast-button {
  position: absolute;
  top: 0;
  right: 5px;
  background-color: white;
  border-width: 0;
  font-size: 1.5em;
  color: #858DDA;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;

  &:before {
    content: '✕';
    position: absolute;
    font-size: 16px;
    top: 1px;
    right: 3.5px;
  }
}

.toast-enter-active,
.toast-leave {
  opacity: 1;
}

.toast-enter,
.toast-leave-active {
  opacity: 0;
}

@media screen and (max-width: 550px) {
  .toast {
    position: fixed;
    width: 100vw;
    z-index: 9997;
  }

  .toast-position-n {
    top: 100px;
    left: 0;
  }
}
