.toast {
  position: fixed;
  width: 100vw;
  z-index: 9998;
}

.toast-type-info {
  background-color: #858dda;
}

.toast-type-warning {
  background-color: #f06273;

  .toast-button {
    color: #f06273;
  }
}

.toast-message {
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 8px 14px;
  position: relative;
  text-align: center;
  transition-property: opacity, transform;
  transition: 400ms cubic-bezier(0.17, 0.67, 0.17, 0.98);
  width: 100%;
}

.toast-button {
  display: none;
}

.toast-enter-active,
.toast-leave {
  opacity: 1;
}

.toast-enter,
.toast-leave-active {
  opacity: 0;
}

@media screen and (max-width: 550px) {
  .toast-message {
    font-size: 12px;
    padding: 6px 12px;
  }
}
